body {
    width: 800px;  /* largeur de 800 pixels */
    margin: auto;  /* marges automatiques pour centrer horizontalement */
    background-color: rgb(51, 57, 255);  /* couleur du fond */  
}

h1 {
    text-align: center; /*centre le  grand titre (h1)*/
    color: white; /*colore le titre en bleu*/
    font-size: 40px; /*taille = 40 pixels*/
}

h2 {
    color: white; /*colore les titres h2 en blanc*/
    background-color: blue; /*surligne les titres h2 en noir*/
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px
}

h3 {
    color: white; 
    text-align: center; /*centre les sous-titres h3*/
    font-family: Arial /*change la police des sous-titres h3 à Arial*/
}

p {
    text-align: center;
    font-family: Verdana; /*change la police d'écriture des paragraphes à Verdana*/
    margin-left: 20px;
    margin-right: 100px;
    background-color: white;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 10px
}

img {
  display: block;
  width: 50%;
  margin: auto;
}
